table td {
  padding: 2px 2px !important;
  text-align: center !important;
}

thead th {
  padding: 10px 8px !important;
  text-align: center !important;
}

@media screen and (max-width: 1100px) {
  .notesButtonAlign {
    margin-right: -10px;
  }

  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 1px solid #b1b1b1;
    display: block;
    margin-bottom: 2.625em;
    padding-bottom: 2em;
  }

  table td {
    display: flex;
    font-size: 14px;
    text-align: right;
    justify-content: space-between;
    margin: 0 5px;
    padding: 5px 0 !important;
  }

  table td::before {
    content: attr(data-label);
    font-size: 16px;
    margin-right: 10px;
  }

  table td input,
  .input-widths {
    width: 400px !important;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

@media screen and (max-width: 700px) {
  table td input,
  .input-widths {
    width: 300px !important;
  }
}

@media screen and (max-width: 550px) {
  table td input,
  .input-widths {
    width: 200px !important;
  }
}

@media screen and (max-width: 420px) {
  table td input,
  .input-widths {
    width: 100% !important;
  }
  table td {
    flex-direction: column;
  }
  table td::before {
    margin: 8px 0 12px;
  }
}

.table-responsive-sizes-text {
  font-size: 16px !important;
}

@media screen and (max-width: 3000px) {
  .table-responsive-sizes-text {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 2500px) {
  .table-responsive-sizes-text {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1900px) {
  .table-responsive-sizes-text {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1700px) {
  .table-responsive-sizes-text {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 1400px) {
  .table-responsive-sizes-text {
    font-size: 11px !important;
  }
}

@media screen and (max-width: 1200px) {
  .table-responsive-sizes-text {
    font-size: 10px !important;
  }
}

@media screen and (max-width: 1100px) {
  .table-responsive-sizes-text {
    font-size: 24px !important;
  }
}

.editTableName {
  color: grey;
}
